* {
    padding: 0;
    margin: 0;
    letter-spacing: .05em;
}

html {
    height: 100%;
}

body {
    height: 100%;
}

.container {
    position: relative;
    height: 100%;
    z-index: -1;
    background-image: linear-gradient(to right, #fbc2eb, #a6c1ee);
    animation: mymove 5s infinite;

}

@keyframes mymove {
    from {
        filter: hue-rotate(0);
    }
    to {
        filter: hue-rotate(360deg);
    }
}

.buy {
    position: fixed;
    z-index: 1;
    background-color: #ffffff;
    width: 90%;
    height: 95%;
    border-radius: 15px;
    padding: 0 50px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.til {
    margin-top: 30px;
}

.til .title {
    width: 210px;
    line-height: 70px;
    font-size: 50px;
    font-weight: bold;
    display: inline-block;
}

.til .user {
    border: black 4px solid;
    animation: mymove 5s infinite;
    font-size: 45px;
    text-align: center;
    width: 70px;
    height: 70px;
    float:right;
    display: inline-block;
    background-color: #afc1ee;
    border-radius: 50%;
}
li{
    list-style: none;
}
.box1{
    height: 80%;
    overflow-y: hidden;
    overflow-x: scroll;
    /* position: relative; */
}
.box2{
    display: flex;
    /* position: absolute; */
}
.box2 li {
    width: 300px;
    height: 530px;
    flex-shrink: 0;

    border: 2px solid black;
    border-radius: 5px;
    margin: 15px;
}

#img{
    background-color: pink;
    margin: 5% auto;
    width: 90%;
    height: 400px;
}
#title{
    padding-left: 20px;
}
#price{
    padding-left: 20px;
    color: red;
}
button{
    float: right;
    margin-right: 20px;
    margin-top: -10px;
    padding: 5px 25px;
}