* {
    padding: 0;
    margin: 0;
    letter-spacing: .05em;
}

html {
    height: 100%;
}

body {
    height: 100%;
}

.container {
    position: relative;
    height: 100%;
    z-index: -1;
    background-image: linear-gradient(to right, #fbc2eb, #a6c1ee);
    animation: mymove 5s infinite;

}

@keyframes mymove {
    from {
        filter: hue-rotate(0);
    }
    to {
        filter: hue-rotate(360deg);
    }
}

.goods {
    position: fixed;
    z-index: 1;
    background-color: #ffffff;
    width: 44%;
    height: 95%;
    border-radius: 15px;
    padding: 0 50px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.til {
    margin-top: 30px;
}

.til .title {
    width: 210px;
    line-height: 70px;
    font-size: 50px;
    font-weight: bold;
    display: inline-block;
}

.ordertab1 {
    position: absolute;
    border-top: 1px solid #e6e6e6;
    border-left: 1px solid #e6e6e6;
}

.ordertab1 td {
    border-right: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
}

.orderbg {
    height: 33px;
    line-height: 33px;
    background: #e6e6e6;
    text-align: center;
    border-bottom: 1px solid #d5d5d5;
}

.orderbg1 {
    height: 32px;
    line-height: 32px;
    color: #636363;
}

.orderbg1 span {
    padding-left: 15px;
}

.box3 {
    position: relative;
    height: 78%;
}