* {
    padding: 0;
    margin: 0;
    letter-spacing: .05em;
}

html {
    height: 100%;
}

body {
    height: 100%;
}

.container {
    position: relative;
    height: 100%;
    z-index: -1;
    background-image: linear-gradient(to right, #fbc2eb, #a6c1ee);
    animation: mymove 5s infinite;

}

@keyframes mymove {
    from {
        filter: hue-rotate(0);
    }
    to {
        filter: hue-rotate(360deg);
    }
}
.root {
    position: fixed;
    z-index: 1;
    background-color: #ffffff;
    width: 82.5%;
    height: 86%;
    border-radius: 15px;
    padding: 0 50px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

table {
    display: inline-block;
    padding: 6px;
}

.til {
    margin-top: 30px;
}

.til .title {
    width: 210px;
    line-height: 70px;
    font-size: 50px;
    font-weight: bold;
    display: inline-block;
}
.til .user {
    border: black 4px solid;
    animation: mymove 5s infinite;
    font-size: 45px;
    text-align: center;
    width: 70px;
    height: 70px;
    float:right;
    display: inline-block;
    background-color: #afc1ee;
    border-radius: 50%;
}

td {
    padding: 0 10px;
    width: 500px;
}

tr {
    padding: 10px;

}

.tab {
    position: relative;
    height: 90%;
    overflow: auto;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 2px solid #000000;
}

.box{
    height: 80%;
}
#dell {
    text-decoration: none;
    border: 2px solid #000000;
    color: #000000;
    border-radius: 1px;
    padding: 0 10px;
}

#dell:hover {
    color: #ffffff;
    background-color: black;
}

.bor {
    border: 2px solid;
    line-height: 19px;
}

#but {
    float: right;
    margin-right: -70px;
    width: 100px;
    margin-top: -30px;
    height: 40px;
    color: white;
    font-size: 20px;
    border: 2px solid black;
    font-weight: bold;
    border-radius: 20px ;
    margin-left: 20px;
    border-bottom-left-radius: 5px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation: mymove 15s infinite;
    background: linear-gradient(#85b2f6, #8a8afd);
}

#but:hover {
    background-color: #aec1ed;
    color: black;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(191, 191, 191, 0.19);
    border: hidden;
    font-weight: bold;
    animation: mymove 15s infinite;
}
#del {
    float: right;
    margin-right: -70px;
    margin-top: -80px;
    width: 100px;
    height: 40px;
    color: white;
    font-size: 20px;
    border: 2px solid black;
    font-weight: bold;
    border-radius: 20px ;
    margin-left: 20px;
    border-bottom-left-radius: 5px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation: mymove 15s infinite;
    background: linear-gradient(#ff6a6a, #ff0a0a);
}
#del:hover {
    background-color: #aec1ed;
    color: black;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(191, 191, 191, 0.19);
    border: hidden;
    font-weight: bold;
    animation: mymove 15s infinite;
}
input {
    width: 110px;
}
.btns {
    position: relative;
    text-align: left;
    display: inline-block;
}

.btns input {
    width: 100px;
    height: 25px;
    background-color: #ffffff;
    border: 2px black solid;
}

.btns .pict {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    border: 0 none;
    filter: alpha(opacity=0);
    opacity: 0
}


.ordertab1 {
    border-top: 1px solid #e6e6e6;
    border-left: 1px solid #e6e6e6;
}

.ordertab1 td {
    border-right: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
}

.orderbg {
    height: 33px;
    line-height: 33px;
    background: #e6e6e6;
    text-align: center;
    border-bottom: 1px solid #d5d5d5;
    margin-bottom: 10px;
}
img{
    margin: 5px 7px;
    width: 95%;
    height: 140px;
}